.displaytitle {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.displaynote{
    display: flex;
    padding: 2%;
}

.displayicons{
    display: flex;
    justify-content: space-around;
}
.css-kzgjy9 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    }